@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap);
body {
  font-family: "Lato", sans-serif;
}

.my-rounded {
  border-radius: 15px !important;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

.show-result {
  position: absolute;
  z-index: 2;
}

.result-item:hover {
  background: #F4F4F4 !important;
  cursor: pointer;
}

.doc-reader h1 {
  font-size: 200% !important;
}
.doc-reader h2 {
  font-size: 150% !important;
}
.doc-reader h3 {
  font-size: 135% !important;
}
.doc-reader h4 {
  font-size: 125% !important;
}
.doc-reader h5 {
  font-size: 110% !important;
}
.doc-reader h6 {
  font-size: 90% !important;
}
.doc-reader pre {
  background: #333 !important;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  margin: 20px 25px;
  border-radius: 4px;
  border: 1px solid #292929;
  position: relative;
  color: #aed581;
}
